version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: sync-backend
    ports:
      - "3000:3000"
    depends_on:
      - mysql
      - redis
