[mysqld]
server-id = 1

log-bin = mysql-bin

binlog_format = ROW

# Keep binary logs for 7 days (adjus as needed)
binlog_expire_logs_seconds = 604800


binlog_row_image = FULL
binlog_rows_query_log_events = ON